<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190375367679-g7kaolr2ujq4mqg1e62940k71nou62mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190375367679-g7kaolr2ujq4mqg1e62940k71nou62mk</string>
	<key>API_KEY</key>
	<string>AIzaSyCwnSibAtpoDIs3s_onDlRBVRMypEWqR4k</string>
	<key>GCM_SENDER_ID</key>
	<string>190375367679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mantraLabs.IonNews</string>
	<key>PROJECT_ID</key>
	<string>ionnews-4e6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>ionnews-4e6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190375367679:ios:69a97ce04dc77b3c</string>
	<key>DATABASE_URL</key>
	<string>https://ionnews-4e6e9.firebaseio.com</string>
</dict>
</plist>